@charset "UTF-8";

/* CSS Document */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/*css reset*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    color: #888;
    margin: auto !important;
}

.clearfix {
    clear: both;
}

* {
    box-sizing: border-box;
}


/*#container {width:90%; margin:auto; background:#ECE0CD;}*/

#container {
    width: 90%;
    margin: auto;
    background: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif !important;
}

h2,
h3,
h4,
h5,
h6 {
    margin-top: 10px !important;
    text-align: center;
}

h2 {
    font-family: 'Lobster', san-serif !important;
    font-size: 64px !important;
    text-align: center;
}

h4 {
    font-size: 16px !important;
    font-weight: 700 !important;
}

p {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: #202020;
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 300;
}

.search-container {
    width: 200px;
    display: block;
    float: right;
    margin-top: 10px;
}

input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 30px;
    padding: 7px;
    font-size: 1.2rem;
    border: 1px solid #D0CFCE;
    outline: none;
}

.search-icon2 {
    position: relative;
    float: right;
    width: 60px;
    height: 60px;
    top: -44px;
    right: -47px;
}


/*header items*/


/*#header {height: 282px; background:#CBBFA8; width:100%; padding-top: 10px;}*/

#header {
    height: 300px;
    background: #FFFFFF;
    width: 100%;
    padding-top: 10px;
}

#logo {
    width: 20%;
    margin: auto;
    margin-bottom: 10px;
    max-width: 220px;
}

#navigation {
    display: block;
    margin: auto;
    background: #FFFFFF;
    height: 60px;
    line-height: 60px;
    width: 100%;
    margin-bottom: 0;
}

#navigation li {
    display: block;
    float: left;
    width: 16%;
    font-size: 18px;
    text-align: center;
}

#navigation a,
#footer a {
    text-decoration: none;
    color: grey;
}

#navigation a:hover,
#footer a:hover {
    text-decoration: none;
    color: lightseagreen;
}

.navmenu {
    text-align: center;
}


/*mobile*/


/*quarter screen width divs*/


/*store locator, subscribe, search, social media posts*/

#main {
    margin-top: 20px;
}

.quarter-right {
    width: 24%;
    float: right;
    margin: 1%;
    height: 500px;
}

.quarter-left {
    text-align: center;
    width: 24%;
    float: left;
    margin: 1%;
}

#store,
#subscribe {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    height: 245px;
    padding-top: 15%;
}

#store {
    background-image: url(../img/map.gif);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    height: 245px;
}

#subscribe {
    background: #C57256;
}

#store input,
#subscribe input {
    width: 100%;
    max-width: 200px;
}

#store h3,
#subscribe h3 {
    font-weight: bold !important;
}

.search {
    padding: 15px;
    background: #F6EDAC;
}

.call {
    height: inherit;
}


/*half screen width div*/


/*#half {float:left; display:block; background: green; width:48%; height:500px; margin-top: 1%; margin-bottom:1%;}*/

#half {
    float: right;
    display: block;
    background-image: url(../img/ice_cream.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 48%;
    height: 500px;
    max-height: 500px;
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
    background-position: center;
}

#half img {
    max-width: 100%;
    height: auto;
}


/*third screen width divs*/

.third {
    clear: both;
    width: 100%;
    /*border-top: solid #BBA181 2px;*/
}

.thirddiv {
    height: 400px;
    width: 32%;
    float: left;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 4%;
}

.thirddiv h2 {
    font-family: 'Lobster', san-serif;
    font-size: 34px !important;
}

.letter {
    margin: 0 auto;
    height: 70%;
    background-image: url(../img/letter.gif);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    max-width: 310px;
}

.delivery {
    margin: 0 auto;
    height: 70%;
    background-image: url(../img/delivery.gif);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    max-width: 310px;
}

.faq {
    margin: 0 auto;
    height: 70%;
    background-image: url(../img/faq.gif);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    max-width: 310px;
}


/*footer*/

#footer {
    width: 100%;
    clear: both;
    border-top: solid #BBA181 1px;
    text-align: center;
}

#footer ul {
    width: 50%;
    clear: both;
    margin: 0 auto;
}

#footer ul li {
    background: #FFFFFF;
    float: left;
    height: 150px;
    width: 25%;
    padding-top: 60px;
}


/*404 not found*/

.error {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 120px;
    text-align: center;
    border-radius: 10px;
}

.error p {
    margin-top: 40px;
    font-size: 18px;
}

.error p a {
    text-decoration: none;
    color: darkblue;
}

.error p a:hover {
    text-decoration: none;
    color: lightseagreen;
}


/* Desktop Layout: 769px or more. */

@media only screen and (min-width:769px) {
    #container {
        margin: auto;
        max-width: 1280px;
        min-width: 768px;
    }
    #logo {
        background-image: url('../img/logo_big.gif');
        background-repeat: no-repeat;
        background-size: 100%;
        display: block;
        width: 20%;
        min-width: 210px;
        padding-top: 20px;
        text-indent: -9999px;
        height: 220px;
        background-position-y: 20px;
    }
    button.menu {
        display: none;
    }
    .search-icon {
        display: none;
    }
    /*hamburger menu icon*/
    .ham {
        display: none;
    }
    .media {
        max-height: 500px;
    }
    .thirddiv h2 {
        height: 40px;
    }
}


/* Tablet Layout: 415px to 768px. */

@media screen and (min-width:415px)and (max-width:768px) {
    #container,
    body {
        width: 98%;
    }
    #header {
        height: 125px;
        margin-top: 10px;
    }
    #logo,
    h1#logo {
        background-image: url('../img/logo_med.gif');
        background-size: 100%;
        font-size: 2px;
        min-width: 110px;
        max-width: 120px;
        background-repeat: no-repeat;
        padding-top: 30%;
        text-indent: -9999px;
        background-position-y: 0px;
    }
    /*navigation specs*/
    #navigation {
        display: none;
    }
    .navbar-toggle {
        min-width: 30px;
        max-width: 11%;
        float: left !important;
        margin-left: 20px;
        z-index: 1;
        min-height: 50%;
        line-height: 70%;
        margin-bottom: 0px;
    }
    .btn-default:hover,
    .btn-default.focus,
    .btn-default:focus {
        background-color: transparent !important;
        border-color: transparent !important;
    }
    .ham {
        min-width: 30px;
        width: 60%;
        float: left;
        margin-top: 30px;
        opacity: 0.9;
    }
    .search-icon {
        min-width: 30px;
        max-width: 30px;
        width: 25%;
        float: right;
        margin-right: 10%;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 30px;
        opacity: 0.9;
    }
    /*end nav*/
    .search-container {
        display: none;
    }
    /*
    #half {
        z-index:1;
        float: left;
        position: absolute;
        width:58%;
        height:380px;
    }
    .quarter {
        clear:both;
        width: 30%;
        padding:0;
    }
    #subscribe {
        position:relative;
        top: 100px;
        margin: 0 auto;
        padding-right: 0;
        width:100%;
    }
    #store {
        position:relative;
        top: 335px;
            left: 200px;
        margin: 0 auto;
        padding-right: 0;
        width:100%;
    }
    .media {
        z-index:1;
        float: right;
        position:absolute;
        right:0;
        margin-right:5%;
        margin-top:0px;
        width:30%;
    }
    */
    #half {
        /*width:60%;
        height:300px;*/
        width: 100%;
        height: 350px;
        background-size: cover;
        background-position: center;
        padding-right: 2%;
        padding-left: 2%;
    }
    #half img {
        height: 100%;
    }
    #half h2 {
        font-size: 54px !important;
    }
    .quarter-left {
        /*width:38%;*/
        width: 100%;
        float: left;
        margin-left: 0;
    }
    #store,
    #subscribe {
        float: left;
        padding: 4px;
        width: 49%;
        height: 145px;
        background-size: cover;
        background-position: center bottom;
    }
    #store {
        margin-right: 2%;
    }
    #store input,
    #subscribe input {
        width: 80%;
    }
    #store h3,
    #subscribe h3 {
        font-size: 17px;
    }
    #store p,
    #subscribe p {
        font-size: 12px;
    }
    .quarter-right {
        width: 100%;
        float: left;
        display: none;
    }
    .thirddiv {
        height: 240px;
        margin-bottom: 110px;
    }
    .thirddiv h2 {
        height: 60px;
        font-size: 24px !important;
    }
    .thirddiv h3 {
        font-size: 16px !important;
    }
    .letter,
    .delivery,
    .faq {
        height: 87%;
    }
    #footer ul {
        width: 100%;
    }
    /*404 not found*/
    .error {
        width: 80%;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 120px;
        text-align: center;
        border-radius: 10px;
    }
    .error h2 {
        font-size: 50px !important;
    }
    .error p {
        margin-top: 40px;
        font-size: 18px;
    }
    .error p a {
        text-decoration: none;
        color: darkblue;
    }
}


/* Mobile Layout: 414px and below. */

@media only screen and (max-width: 414px) {
    .half,
    .third,
    .third div,
    #half,
    .quarter-right,
    .quarter-left,
    #container,
    body {
        min-width: 320px;
        width: 100%;
        margin: 0;
        float: none;
    }
    #menu {
        float: left !important;
        margin-right: 0 !important;
    }
    #header {
        padding-bottom: 2%;
        height: 90px;
    }
    h1#logo {
        background-image: url('../img/logo_sma.gif');
        background-size: 100%;
        width: 20%;
        min-width: 20px;
        max-width: 60px;
        background-repeat: no-repeat;
        padding-top: 20%;
        margin-top: 1%;
        text-indent: -9999px;
        height: 10px;
        /*margin-left: 20%;*/
        float: left;
    }
    #navigation,
    .search-container {
        display: none;
    }
    .quarter-right {
        display: none;
    }
    .media {
        margin-bottom: 2%;
    }
    #subscribe,
    #store {
        margin-bottom: 4%;
        padding-bottom: 10%;
        height: 150px;
        padding-top: 10px;
        background-position: bottom;
    }
    #store input,
    #subscribe input {
        width: 40%;
    }
    #half {
        max-height: 300px;
        margin-bottom: 4%;
    }
    #half h2 {
        padding-top: 8%;
        margin-top: 0;
        font-size: 42px !important;
    }
    .third {
        margin-top: 30px;
        border: none;
    }
    .thirddiv {
        height: 300px;
    }
    .thirddiv div {
        margin: 0 auto;
    }
    .letter,
    .delivery,
    .faq {
        height: 190px;
        background-size: 60%;
    }
    .third h2 {
        font-size: 28px !important;
    }
    .third h3 {
        font-size: 18px !important;
    }
    /*footer specs*/
    #footer {
        height: 170px;
        padding-top: 30px;
        margin-top: 40px;
        text-align: center;
    }
    #footer ul {
        width: 100%;
    }
    #footer ul li {
        width: 100%;
        height: 25px;
        line-height: 25px;
        clear: both;
        padding: 0;
    }
    /*end footer specs*/
    .search-icon {
        min-width: 10px;
        width: 28%;
        float: right;
        margin-right: 5%;
        top: 0;
        right: 0;
        margin-top: 12px;
    }
    /*attempted mobile hamburger menu*/
    .ham {
        margin-top: 9px;
        width: 80%;
        float: left;
    }
    /*    .ham {
        min-width: 30px;
        width: 60%;
        float: left;
		margin-top: 30px;
    }
	.search-icon {
		margin-top: 30px;
		min-width: 30px;
		width:20%;
		float: left;
	}*/
    .navbar-toggle {
        width: 15%;
        height: auto;
        float: left !important;
        margin-left: 15px;
        z-index: 1;
        min-height: 50%;
        line-height: 70%;
    }
    .glyphicon {
        margin-top: 50%;
        line-height: 70%;
    }
    .btn-default:hover,
    .btn-default.focus,
    .btn-default:focus {
        background-color: transparent !important;
        border-color: transparent !important;
    }
    /*404 not found*/
    .error {
        width: 80%;
        margin: auto;
        margin-top: 90px;
        margin-bottom: 110px;
        text-align: center;
        border-radius: 10px;
    }
    .error h2 {
        font-size: 28px !important;
    }
    .error p {
        margin-top: 40px;
        font-size: 18px;
    }
    .error p a {
        text-decoration: none;
        color: darkblue;
    }
}
